.homeTitle {
    color: #222;
    font-size: 2rem;
}

.highlightedWord {
    color: darkolivegreen;
    font-size: 2rem;
}

.gridTitle {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
    color: darkolivegreen
}

.noBooksError {
    margin-top: 3rem;
    color: firebrick;
    font-weight: 500;
}